<!-- <h2>Friended by Users</h2> -->
<ul>
  <% current_user.inverse_friends do |user| %>
    <%= render "user", user: user, action: "delete" %>
    <%= link_to "Add Friend", add_friend_path(:friend_id => user.id), :method => :post %>
  <% end %>
</ul>
<div class="col-xs-6">
  <div class="box box-widget">
    <div class="box-header controller">
      <strong>Friends</strong>
    </div>
    <div class="box-body">
      <div class="fix-size">
        <% if friend_list.size == 0 %>
          <p>You don't have any friends. Let's add some friends now</p>
        <% else %>
          <% friend_list.each do |user| %>
            <%= render "user", user: user, user_action: "delete" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6">
  <div class="box box-widget">
    <div class="box-header controller">
      <strong>Find friends</strong>
    </div>
    <div class="box-body">
      <div class="fix-size">
        <% not_friend_list.each do |user| %>
          <%= render "user", user: user, user_action: "add" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


