* {
  margin: 0px;
  padding: 0px;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

body {
  background: #f0f1f2;
  font: 12px "Open Sans", sans-serif;
}

.box-header{
  background-color: #eceff1;
  padding: 15px 29px;
  height: 45px;
  font-size: 14px;
}

.box-header.controller {
  padding: 0px 29px;
  font-size: 20px;
  line-height: 45px;
  border: none;
}

.box-header.controller > div:hover {
  cursor: pointer;
  background-color: #f8fbfe;
}

.box-header.controller .active {
  background-color: #FFF;
}

.badge {
  margin-top: 75%;
  min-width: 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}


// #chatbox {
//   width: 290px;
//   background: #fff;
//   border-radius: 6px;
//   overflow: hidden;
//   height: 500px;
// }
//

.friend {
  height: 70px;
  border-bottom: 1px solid #e7ebee;
}

.friend > div {
  padding-left: 0
}

.friend:hover {
  background: #f1f4f6;
  cursor: pointer;
}

.friend img {
  width: 40px;
  border-radius: 50%;
  margin: 15px;
}

.friend p {
  padding: 15px 0 0 0;
}

.friend p strong {
  font-weight: 600;
  font-size: 15px;
  color: #597a96;
}

.friend p span {
  font-size: 13px;
  font-weight: 400;
  color: #aab8c2;
}

.friend .status {
  color: #26c281;
}

.friend .status.away {
  color: #ffce54;
}

.friend .status.inactive {
  color: #eaeef0;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

#chat-messages {
  padding-right: 20px;
}

#chat-messages label {
  color: #aab8c2;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
  display: block;
}

#chat-messages div.message {
  padding: 0 0 30px 58px;
  clear: both;
  margin-bottom: 45px;
}

#chat-messages div.message.right {
  padding: 0 58px 30px 0;
  margin-right: -19px;
  margin-left: 19px;
}

#chat-messages .message img {
  float: left;
  margin-left: -38px;
  border-radius: 50%;
  width: 30px;
  margin-top: 12px;
}

#chat-messages div.message.right img {
  float: right;
  margin-left: 0;
  margin-right: -38px;
}

#chat-messages label {
  text-align: center;
}

.message .bubble {
  background: #f0f4f7;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 13px;
  border-radius: 5px 5px 5px 0px;
  color: #8495a3;
  position: relative;
  float: left;
}

#chat-messages div.message.right .bubble {
  float: right;
  border-radius: 5px 5px 0px 5px;
}

.bubble .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
  position: absolute;
  width: 7px;
  height: 7px;
  left: -5px;
  bottom: 0;
}

div.message.right .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
  left: auto;
  right: -5px;
}

.bubble span {
  color: #aab8c2;
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: -22px;
}

.box-footer input {
  font-size: 16px;
  height: 40px;
  padding: 0 10px;
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#sendmessage input:focus, #sendmessage input:active {
  outline: 0;
}

#sendmessage button:focus, #sendmessage input:active {
  outline: 0;
}

.fa-paperclip {
  transform: rotate(135deg) scaleX(-1);
  vertical-align: bottom;
}

.btn.btn-none {
  border: 0;
  border-radius: 0;
  outline: none;
  height: 40px;
  padding: 0 10px;
  background-color: #eceff1;
}

.footer-controller {
  background-color: #eceff1;
  padding-left: 5px;
  padding-right: 0;
}

.footer-controller .btn{
  margin: 0;
  font-size: 15px;
  font-weight: 400px;
}

.unread {
  color: #000;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: alpha(opacity=20);

  background-image: url(image-path('background.png'));
  // filter: alpha(opacity=10000);
  opacity: 1;
  z-index: -1;
}

.info .info-text{
  color: #eceff1;
  font-size: 65px;
  font-weight: bold;
}

.info label {
  font-size: 30px;
  color: #fff;
}

input.form-control {
  border-radius: 6px;
}

.fix-size {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-link {
  height: 40px;
  font-size: 15px;
  padding-top: 20px !important;
}

.nav-link img {
  margin-top: -12px;
}

.friend a.btn {
  margin-top: 15px;
}
